.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
}
#video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
  }
  body {
    padding: 0;
    margin: 0;
    color: #dad6d6 !important;
    background: #f7f7f7;
    background: -webkit-linear-gradient(to right, #322A2A, #211C1C);
    background: linear-gradient(to right, #322A2A, #211C1C);
  }

  html, body, #map {
    height: 100%;
    width: 100vw;
  }

  #map {
    position: relative;
    z-index: 10;
  }

  #overlay {
    position: absolute;
    z-index: 1;
  }